<h1>Bienvenid@ a particulares.club</h1>
<h2> Paga todas tus facturas en un solo lugar!</h2>

<h3>Si ya tienes cuenta,</h3>
<!-- <h3> <#%= link_to "ingresa aqui", new_patient_session_path %>
o
ingresa con tu cuenta <#%=  link_to "google", patient_google_oauth2_omniauth_authorize_path %></h3> -->

<h3> <%= link_to "ingresa aqui", new_patient_session_path %></h3>



<br>

<h3>Si aun no tienes cuenta, puedes crear una <%= link_to "Aqui", new_patient_registration_path %> </h3>
