<h1>Bienvenid@ a particulares.club</h1>
<h2> Crea boletas electronicas y gestiona cobranza de tus pacientes automaticamente!</h2>

<h4>Si ya tienes cuenta,</h4>
<h4> <%= link_to "ingresa aqui", new_doctor_session_path %>
o
ingresa con tu cuenta <%=  link_to "google", doctor_google_oauth2_omniauth_authorize_path %></h4>

<br>

<h4>Si aun no tienes cuenta, puedes crear una <%= link_to "Aqui", new_doctor_registration_path %> </h4>
