<h1>Bienvenid@ a particulares.club</h1>
<h2> Crea boletas electronicas y gestiona cobranza de tus pacientes automaticamente!</h2>

<h3>Si ya tienes cuenta,</h3>
<h3> <%= link_to "ingresa aqui", new_doctor_session_path %>
o
ingresa con tu cuenta <%=  link_to "google", doctor_google_oauth2_omniauth_authorize_path %></h3>

<br>

<h3>Si aun no tienes cuenta, puedes crear una <%= link_to "Aqui", new_doctor_registration_path %> </h3>
